<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h3>Add new user</h3>
<form th:action="@{/admin/newUser}" th:method="POST" th:object="${user}">
    <p>First name</p>
    <input th:field="*{name}" type="text"/>
    <p>Last name</p>
    <input th:field="*{surname}" type="text"/>
    <p>Age</p>
    <input th:field="*{age}" type="number"/>
    <p>Email</p>
    <input th:field="*{email}" type="text"/>
    <p>Password</p>
    <input th:field="*{password}" type="text"/>
    <p>Role</p>
    <label>
        <select multiple name="selectedRoles">
            <option th:each="name : ${roles}" th:text="${name}" th:value="${name}"></option>
        </select>
    </label>
    <br>


    <br>
    <input type="submit" value="Add new user">
</form>
<h3><a href="/admin/users"> Close</a><a href="/logout"> Logout</a></h3>
</body>
</html>